.descriptionWrapper {
    display: flex;
    margin-left: 20px;
}

/* .imageWrapper {
    display: flex;
} */

.imageWrapper>img {
    width: 320px;
    height: 300px;
    box-shadow: 0px 30px 30px 22px;
}

.description {
    margin-left: 20px;
}

.description>span {
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
}

.backImage {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    -webkit-filter: blur(12px);
}