.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 12px;
    width: 200px;
}

.contact p {
    color: rgb(67, 20, 194);
    margin-right: 7px;
    border-right: 2px solid green;
}

.credentials {
    display: flex;
}

.credentials p {
    display: flex;
    flex-direction: column;
}

.contact span {
    font-weight: 700;
    font-size: 14px;
    width: 75px;
    inline-size: 75px;
    overflow-wrap: break-word;
    color: green;
}

.contact span:hover {
    cursor: pointer;
    color: rgb(105, 68, 209);
}

.btn {
    color: rgb(3, 61, 18);
    background-color: rgb(226, 211, 6);
    border-radius: 10%;
    width: 50px;
    height: auto;
    padding: 0;
    margin: 0 auto;
    font-size: 12px;
    transition: 250ms all ease
}


.btn:hover {
    background-color: blanchedalmond;
    cursor: pointer;
    margin: 0 auto;
}