.imageWrapper {
    display: flex;
    max-width: 29%;
    height: auto;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.imageWrapper:hover {
    cursor: pointer;
    transform: scale3d(1.03, 1.03, 1);
    transition-duration: 250ms;
    box-shadow: 0px 0px 25px 15px white;
}