    .movieItem {
        margin: 8px auto;
        height: 130px;
        border: 2px rgb(235, 147, 16) dashed;
        background-color: black;
        transition: ease-in-out 150ms all;
    }

    @media (width <=479px) {
        .movieItem {
            max-width: 750px;
        }
    }

    .moviePoster {
        width: 160px;
        height: auto;
    }


    .navLink {
        color: rgb(235, 147, 16);
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        max-width: 50%;
        transition: 150ms ease-in-out all;
    }

    .navLink:hover {
        color: rgb(182, 88, 11);
    }

    .movieItem:hover {
        border-color: rgb(182, 88, 11);
    }

    @media (width >=480px) {
        .moviePoster {
            width: 290px;
        }

        .movieItem {
            height: 180px;
        }

        .navLink {
            max-width: 25%;
        }
    }

    @media (width >=768px) {
        .movieItem {
            margin: 8px auto;
            width: 80%;
            height: 185px;
        }

        .moviePoster {
            width: 40%;
            height: 90%;
        }

        .navLink {
            font-size: 30px;
            font-weight: 700;
            width: 200px;
        }

    }

    @media(width >=1280px) {
        .movieItem {
            margin: 8px auto;
            width: 47%;
            height: 185px;
        }
    }