.listItem {
    display: flex;
    width: 300px;
    margin: 0 auto;
    border-bottom: 2px solid green;
    padding: 10px 0;
}

@media (width >=480px) {
    .listItem {
        width: 450px;
    }
}

@media (width >=767px) {
    .listItem {
        width: 550px;
    }
}

.listItem span:nth-child(1) {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    color: yellow;
}

.listItem span:nth-child(2) {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    color: red;
}

/* .listItem>span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: red;
}

.listItem>span:nth-child(1) {
    display: flex;
    max-width: 500px;
} */