.trendingList {
    list-style: numbers;
    display: grid;
    grid-gap: 5px;
}

.listWrapper {
    display: flex;
    margin: 0 auto;
    max-width: 600px;
    color: rgb(182, 88, 11);
    font-weight: 700;
    background-color: yellowgreen;
    box-shadow: 20px 12px 60px 40px rgb(114, 148, 46);
}