.trendingContainer {
    display: flex;
    flex-direction: column;
}

.trendingList {
    padding: 0;
}

.listWrapper {
    display: flex;
    margin: 0 auto;
    color: rgb(182, 88, 11);
    font-weight: 400;
    background-color: rgb(41, 41, 41);
}

.listWrapper li:nth-child(2n) {
    display: flex;
    padding-left: 5px;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.listWrapper li:nth-child(2n -1) {
    display: flex;
    padding-right: 5px;
    align-items: center;
    justify-content: space-around;
}

.trendingHeader {
    height: 50px;
    display: flex;
    background-color: black;
    border: 2px dotted darkorange;
    align-items: center;
}

.trendingHeader>a:first-child {
    width: 60px;
    font-size: 12px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    border: 1px dotted rgb(241, 147, 6);
    border-radius: 3px;
    background-color: rgb(117, 114, 114);
    color: orange;
}

.trendingHeader>a:first-child:hover {
    background-color: rgb(87, 84, 84);
    color: red;
}

.searchMoviesBtn {
    margin-left: 25%;
}

.searchMoviesBtn button {
    height: 28px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgb(185, 112, 2);
    border: 1px solid rgb(185, 112, 2);
    border-radius: 3px;
    transition-duration: 250ms;
}

.searchMoviesBtn button:hover {
    background-color: orange;
    cursor: pointer;
}

@media (width >=480px) {
    .trendingHeader>a {
        font-size: 14px;
    }
}


@media (width >=768px) {
    .trendingList {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .listWrapper li:nth-child(2n) {
        padding-left: 10px;
        justify-content: flex-end;
    }

    .listWrapper li:nth-child(2n -1) {
        padding-right: 10px;
        justify-content: flex-end;
    }

}