.contactsList {
    border: 0.25px solid green;
    min-height: 20px;
    max-width: 320px;
    margin: 20px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(130, 222, 250);
}

.phonebookHeader {
    display: flex;
    border: solid 3px skyblue;
    max-width: 250px;
    margin: 20px auto;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .contactsList {
        border: 1px solid green;
        max-width: 320px;
    }
}