.contactsList {
    border: 0.25px solid green;
    min-height: 20px;
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(130, 222, 250);
}

.phonebookHeader {
    width: 370px;
    height: 70px;
    font-weight: 900;
    font-size: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px skyblue;
    -webkit-text-stroke: 1px yellow;
}

.phonebookHeader p {
    margin: 0;
    -webkit-text-stroke: 3px yellow;
    text-shadow: 2px 2px 3px black, -2px -2px 3px black, -2px 2px 3px black, 2px -2px 3px black;
    ;
}

@media screen and (min-width: 768px) {
    .contactsList {
        border: 1px solid green;
        max-width: 320px;
        margin-bottom: 20px;
    }
}