@media screen and (min-width: 320px) and (max-width: 767px) {
    .ImagesFinderWrapper {
        height: calc(100% + 100em);
        background-color: blue;
    }
}

@media screen and (min-width: 768px) {
    .ImagesFinderWrapper {
        height: 100%;
        background-color: blue;
    }
}